.topnav {
    overflow: hidden;
    background-color: rgb(2, 52, 2);
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    float: right;
}

.topnav a:hover{
    background-color: #ddd;
    color: black;
}

.topnav a:active{
    background-color: #555;
    color: white;
}

body{
    background-color: rgb(226, 243, 226);
    margin: 0;
    
}


h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 100px;
    color: black;
}

h2{
    margin-left: 50px;
    
}


.pho1 {
    position: relative;
    margin-left: 300px;
    margin-top: 30px;
    
}


  #movingImage {
    position: absolute;
    top: 0;
    left: 0;
    transition: top 0.3s ease-in-out; 
  }





.pho2{
    position: relative;
    width: 300px;
    height: 100px;
    margin-top: 40px;
    margin-left: 350px;
}

#movingImage2{
    position: absolute;
    top: 20;
    left: 6;
    transition: top 0.3s ease-in-out;
}


.pho3{
   
    width: 100px;
    height: 100px;
    margin-top: 140px;
    margin-left: 400px;
}


.box1{
    
        width: 1300px;
        height: 500px;
        background-color: rgb(199, 223, 199);
        border-radius: 40px;
        margin-left: 100px;
        margin-top: 600px;
        justify-content: space-between;
        font-size: 20px;
}


.box2{
    width: 1300px;
    height: 500px;
    background-color: rgb(199, 223, 199);
    border-radius: 40px;
    margin-left: 100px;
    margin-top: 400px;
    justify-content: space-between;
    font-size: 20px;
}


.box3{
    width: 1300px;
    height: 500px;
    background-color: rgb(199, 223, 199);
    border-radius: 40px;
    margin-left: 100px;
    margin-top: 500px;
    justify-content: space-between;
    font-size: 20px;
}


#movingImage3{
    position: absolute;
    top: 20;
    left: 6;
    transition: top 0.3s ease-in-out;
}




    .stana{
       margin-left: 1100px;
    }
    





.pho1:hover{
    
    cursor: pointer;


}


.pho2:hover{
   
    cursor: pointer;
}

.pho3:hover{
    
    cursor: pointer;
}